@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<br />
<br />
<h4>
    MSI is a world wide company and its one of the top gamers brands
</h4>
<br />
<h5>
    The MSI company provides Computer Components such as Laptops, Motherboards, Screen, VGA, Mice & Keyboards
</h5>