@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lebanon<br />
    Beirut, Beer AL-Abed<br />
    <abbr title="Phone">P:</abbr>
    +961.76.852.336
</address>

<address>
    <strong>Managment:</strong>   <a href="mailto:HadiShrara@Gmail.com">HadiShrara@Gmail.com</a><br />
    <strong>Support:</strong>   <a href="mailto:CustomerSupport@MsiShop.com">CustomerSupport@MsiShop.com</a><br />
    <strong>Information:</strong> <a href="mailto:Info@MsiShop.com">Info@MsiShop.com</a>
</address>